<footer>
    <div class="container">
        <div class="footer__top text-center">
            <ul class="nav-pills clearfix">
                <li><a href="" class="active">Розничная продажа</a></li>
                <li><a href="">О компании</a></li>
                <li><a href="">Сертификаты</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </div>
        <div class="footer__bottom">
            <div class="row">
                <div class="col-xs-3">
                    <p>ООО "Трамп Трейд"</p>
                    <p><a href="" class="dev">Разработка сайта: </a></p>
                </div>
                <div class="col-xs-3">
                    <p> +375 29 3757770</p>
                    <p>+7 499 116 30 08</p>
                </div>
                <div class="col-xs-3">
                    <p><a href="">devitabel@mail.ru</a></p>
                    <p><i class="fa fa-skype" aria-hidden="true"></i> <a href=""> devitabel</a></p>
                </div>
                <div class="col-xs-3">
                    <p>РБ, г.Брест, ул. Суворова, 104</p>
                    <p>Режим работы: пн-пт: 8.30 - 17.30 <br />
                        сб, вс: выходной.</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="js/jquery.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.bxSlider.min.js"></script>
<script src="js/chosen.jquery.js"></script>
<script src="js/main.js"></script>
