<div class="header">
    <div id="callback" class="popup-block">
        <div class="row">
            <div class="col-xs-5 callback__left">
                <img src="img/callback.jpg" alt="">
            </div>
            <div class="col-xs-7 callback__right ">
                <p class="title text-center">Обратный звонок</p>
                <form class="text-center">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1"
                               placeholder="Контактное лицо *">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputPassword1"
                               placeholder="Номер телефона *">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Тема звонка"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default pink-btn animate">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <div id="callback1" class="popup-block">
        <div class="row">
            <div class="col-xs-5 callback__left">
                <img src="img/callback.jpg" alt="">
            </div>
            <div class="col-xs-7 callback__right ">
                <p class="title text-center">Обратный звонок</p>
                <p>Спасибо, ваше сообщение принято. </p>
                <p>В ближайшее время с вами свяжется наш менеджер.</p>
                <a href="" class="pink-btn animate">Закрыть</a>
            </div>
        </div>
    </div>
    <div class="header__top">
        <div class="container">
            <p class="text-center">Оптовая продажа одежды от производителя</p>
            <div class="language">
                <select data-placeholder="Rus" class="chosen-select" style="width:350px;" tabindex="2">
                    <option value=""></option>
                    <option value="United States">Rus</option>
                    <option value="United Kingdom">Eng</option>
                </select>
            </div>
            <div class="enter">
                <ul class="breadcrumb">
                    <li>
                        <a href="" class="link">Вход</a>
                    </li>
                    <li>
                        <a href="" class="link">Регистрация</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="logo">
                        <a href=""><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="header-menu col-xs-9">
                    <ul class="pull-right nav-pills ">
                        <li>
                            <a href="#callback" class="fancybox">Заказать звонок <i class="fa fa-phone"></i></a>
                        </li>
                        <li>
                            <a href="#callback1" class="fancybox">Поиск <i class="fa fa-search"></i></a>
                        </li>
                        <li>
                            <a href="">Корзина <i class="fa fa-shopping-cart"></i> <span></span></a>
                        </li>
                        <li>
                            <a href="" class="menu-button">Меню
                                <!--<i class="fa fa-bars"></i>-->
                                <div id="nav-icon3">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="menu-dropdown">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 menu-dropdown__left">
                        <div class="row">
                            <div class="col-xs-6 drop-menu">
                                <ul>
                                    <li>
                                        <p class="title">Розничная продажа</p>
                                        <a href="">Где купить продукцию DeVita</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <p class="title">Сотрудничество </p>
                                        <a href="">Уловия сотрудничества</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <p class="title">Обратная связь</p>
                                        <a href="">Контакты</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6 drop-menu">
                                <ul>
                                    <li><p class="title">Мир DeVita</p></li>
                                    <li><a href="">О нас</a></li>
                                    <li><a href="">О бренде</a></li>
                                    <li><a href="">Сертификаты</a></li>
                                    <li><a href="">Партнеры</a></li>
                                    <li><a href="">Вакансии</a></li>
                                    <li><a href="">Новости</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 menu-dropdown__right">
                        <div class="row">
                            <!--<div class="col-xs-4">-->
                            <!--<a href="">-->
                            <!--<div class="hover-effect">-->
                            <!--<img src="img/catalog_header1.jpg" alt="">-->
                            <!--</div>-->
                            <!--<p>Весна-Лето 2016</p>-->
                            <!--</a>-->
                            <!--</div>-->
                            <div class="col-xs-4">
                                <a href="" class="hover-effect">
                                    <figure class="effect-bubba">
                                        <img src="img/catalog_header1.jpg" alt="">
                                        <figcaption>

                                        </figcaption>
                                    </figure>
                                    <p>Весна-Лето 2016</p>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="" class="hover-effect">
                                    <figure class="effect-bubba">
                                        <img src="img/catalog_header2.jpg" alt="">
                                        <figcaption>

                                        </figcaption>
                                    </figure>
                                    <p>Осень-Зима 2016</p>
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="" class="hover-effect">
                                    <figure class="effect-bubba">
                                        <img src="img/catalog_header3.jpg" alt="">
                                        <figcaption>

                                        </figcaption>
                                    </figure>
                                    <p>DeVita Sport</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
