<div class="main-slider">
    <ul class="bxslider">
        <li style="background: url(/img/slide1.jpg) 50% 50%">
            <div class="container">
                <div class="slider-text right-block">
                    <p class="title">Лето здесь</p>
                    <p>новая коллекция 2016</p>
                    <a href="" class="border-button animate">Смотреть все</a>
                </div>
            </div>
        </li>
        <li style="background: url(/img/slide1.jpg) 50% 50%">
            <div class="container">
                <div class="slider-text right-block">
                    <p class="title">Лето здесь</p>
                    <p>новая коллекция 2016</p>
                    <a href="" class="border-button animate">Смотреть все</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="container">
        <div class="page-content__banners">
            <div class="row">
                <div class="col-xs-6 big-banner big-banner_1">
                    <img src="img/banner1.jpg" alt="">
                    <div class="big-banner_text">
                        <p class="title">Весна-лето 2016</p>
                        <p>Модная линия</p>
                        <a href="" class="border-button animate">Смотреть все</a>
                    </div>
                </div>
                <div class="col-xs-6 big-banner big-banner_2">
                    <img src="img/banner2.jpg" alt="">
                    <div class="big-banner_text">
                        <p class="title">Осень-зима 2016</p>
                        <p>Модная линия</p>
                        <a href="" class="border-button animate">Перейти в каталог</a>
                    </div>
                </div>
                <div class="col-xs-3 big-banner">
                    <a href="" class="hover-effect">
                        <figure class="effect-bubba">
                            <img src="img/banner3.jpg" alt="">
                            <figcaption>
                                <p>Смотреть<br /> в каталоге</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-xs-3 big-banner pull-right">
                    <a href="" class="hover-effect">
                        <figure class="effect-bubba">
                            <img src="img/banner4.jpg" alt="">
                            <figcaption>
                                <p>Смотреть<br /> в каталоге</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-xs-9 big-banner big-banner_5">
                    <img src="img/banner5.jpg" alt="">
                    <div class="big-banner_text">
                        <p class="title">Devita sport</p>
                        <p>Спортивная линия</p>
                        <a href="" class="border-button animate">Перейти в каталог</a>
                    </div>
                </div>
                <div class="col-xs-3 big-banner pull-right">
                    <a href="" class="hover-effect">
                        <figure class="effect-bubba">
                            <img src="img/banner6.jpg" alt="">
                            <figcaption>
                                <p>Смотреть<br /> в каталоге</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
        <div class="page-content__advantages">
            <div class="row text-center">
                <div class="col-xs-3 ">
                    <img src="img/devita-icon-1.svg" alt="">
                    <div class="text-preview">
                        <p class="title">Индивидуальный дизайн</p>
                        <p>Это то, что отличает нас от остальных производителей.</p>
                    </div>
                </div>
                <div class="col-xs-3 ">
                    <img src="img/devita-icon-2.svg" alt="">
                    <div class="text-preview">
                        <p class="title">Безупречное качество</p>
                        <p>Мы гордимся качеством нашей продукции и уверены в том, что сможем оправдать все ваши
                            ожидания.</p>
                    </div>
                </div>
                <div class="col-xs-3 ">
                    <img src="img/devita-icon-3.svg" alt="">
                    <div class="text-preview"><p class="title">Ежемесячное обновление коллекции</p>
                        <p>Вы всегда сможете удивить своего клиента новым ассортиментом.</p>
                    </div>
                </div>
                <div class="col-xs-3 ">
                    <img src="img/devita-icon-4.svg" alt="">
                    <div class="text-preview"><p class="title">Быстрая доставка</p>
                        <p>Безопасно доставим ваш заказ в любую точку мира.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content__news">
            <div class="row">
                <div class="col-xs-5 col-sm-7">
                    <div class="text-preview">
                        <p class="title">Как выгодно сотрудничать и зарабатывать с одеждой Devita</p>
                        <p> DeVita - это молодая динамично развивающаяся торговая марка, производящая женскую одежду с
                            великолепной посадкой
                            и большим выбором размеров, для повседневной жизни и активного отдыха. Вся продукция
                            производится из высококачественной
                            ткани зарубежных производителей, проходит строжайший контроль качества и имеет сертификат
                            таможенного союза.</p>
                    </div>
                    <div class="text-preview">
                        <p class="title">Оптовая продажа</p>
                        <p>Мы работаем на условиях 100% предоплаты со всеми регионами таможенного союза как по
                            наличному, так и
                            безналичному расчетам. Минимальный заказ 15 единиц без привязки к размерному ряду.</p>
                        <p>Заказ производится Вами посредствам сайта, а так же по телефону, скайпу или заявкой по
                            электронной
                            почте, Ваш заказ действителен в течение 5 рабочих дней с момента выставления счета.</p>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-5">
                    <div class="page-content__news_last">
                        <a href="" class="img-preview"><img src="img/last_news.jpg" alt=""></a>
                        <div class="text-preview">
                            <p class="title"><a href="">Новая коллекция уже в продаже!</a></p>
                            <p class="date">20.06.2016</p>
                            <p>Объясняем на примере 12 главных тенденций лета 2017 года, какие вещи имеет смысл покупать
                                сейчас и не откладывать в дальний ящик.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 hidden-sm">
                    <a href="">
                        <img src="img/insta_main.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="page-content__down-socials page-content__banners">
            <div class="row">
                <div class="col-xs-6 col-sm-6 big-banner border-banner">
                    <div class="row">
                        <div class="border">
                            <div></div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <img src="img/insta_img.jpg" alt="">
                        </div>
                        <div class="col-xs-6 col-sm-6 text-center">
                            <div>
                                <a href="" class="icon"><img src="img/icon_insta.png" alt=""></a>
                                <p>Следите за последними событиями вместе с <a href="">DeVita</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 big-banner">
                    <img src="img/icon_img.jpg" alt="">
                </div>
                <div class="col-xs-3 col-sm-3 big-banner pull-right border-banner">
                    <div class="row">
                        <div class="border">
                            <div></div>
                        </div>
                        <div class="col-xs-12">
                            <img src="img/vk_img.jpg" alt="">
                        </div>
                        <div class="col-xs-12 text-center">
                            <img src="img/vk_white.jpg" alt="">
                            <div>
                                <a href="" class="icon"><img src="img/icon_vk.png" alt=""></a>
                                <p>Будьте всегда в курсе<br/> последних новостей<br/> вместе с <a href="">DeVita</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6  col-sm-6 big-banner">
                    <a href=""><img src="img/facebook_img.jpg" alt=""></a>
                </div>
                <div class="col-xs-3  col-sm-3 big-banner">
                    <a href=""><img src="img/youtube_img.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
